@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: tahoma; /* arial, verdana, trabushet ms, tahoma; */
	color:rgb(0, 0, 0);
	background-color:rgb(0, 0, 0);
}

li{
	list-style:none;
}

body{
	width: 100%;
}

.topo{
	background-color: rgb(42, 44, 63);
	width: 100%;
	height: 30px;
}


header{
	background-color: rgb(153, 153, 153);
	width: 100%;
	height: 22em;
}

nav{
	background-color: rgb(46, 46, 46);
	width: 85%;
	height: 4em;
    margin: 0px auto;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    flex-grow: 1;
    text-align: center;
	padding: 8px;
	background-color: rgb(46, 46, 46);
}

nav ul li a{
    background-color: rgb(46, 46, 46);
    display: block;
    margin:2px;
    padding: 4px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color:rgb(172, 141, 2);
}

nav ul li a:hover{
    transform: scale (1.1,1.1);
    transition-property: all;
    transition-delay: 200ms;
    transition-duration: 600ms;
    background-color: rgb(172, 141, 2);
    color: rgb(46, 46, 46);
    
}

nav ul li a:focus{
    transition: all;
    transition-delay: 200ms;
    transition-duration: 600ms;
    background-color: rgb(172, 141, 2);
    color: rgb(46, 46, 46);
}


main{
	background-color: rgb(189, 186, 186);
    width: 85%;
    min-height: 30em;
	height: auto;
	margin: 0 auto;
	margin-bottom: 12px;
	padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

article{
	background-color: rgb(88, 88, 88);
    width: 100%;
    height: 20em;
    margin: 10px;
    display: flex;
}

footer{
	background-color:  rgba(42, 44, 63);
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	color: lightcyan;
}
